<div class="dashboard-container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="top-section">
            <div class="dot"></div>
            <i class="material-icons">home</i>
            <i class="material-icons">image</i>
            <i class="material-icons">layers</i>
            <i class="material-icons">chat_bubble_outline</i>
            <i class="material-icons">schedule</i>
            <i class="material-icons">group</i>
        </div>

        <div class="bottom-section">
            <i class="material-icons">help_outline</i>
            <i class="material-icons">settings</i>
            <div class="profile">
                <img src="assets/profile.jpg" alt="Profile" />
                <div class="add-icon">
                    <i class="material-icons">add</i>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content Area -->
    <main class="main-content">
        <div class="header-bar">
            <h2 class="welcome-text">Welcome back, Olivia</h2>

            <div class="actions">
                <i class="material-icons">search</i>

                <button class="action-btn">
                    <i class="material-icons">tune</i>
                    Customize
                </button>

                <button class="action-btn">
                    <i class="material-icons">ios_share</i>
                    Export
                </button>
            </div>
        </div>


        <!-- <div class="cards-container">
            <div class="achart">
                <app-achart></app-achart>
            </div>
            <div class="bchart">
                <app-bchart></app-bchart>
            </div>
        </div> -->
        <div class="table-container">
            <app-table></app-table>
        </div>

    </main>
</div>