<div class="vendor-card">
    <div class="card-header">
        <div class="info">
            <div class="icon"><span class="material-icons">account_tree</span></div>
            <div class="text">
                <h3>Vendor breakdown</h3>
                <p>Keep track of vendors and their security ratings.</p>
            </div>
        </div>
        <span class="material-icons options-icon">more_vert</span>
    </div>
    <div class="chart">
        <highcharts-chart [options]="chartOptions"
            style="width: 100%; height: 300px; display: block;"></highcharts-chart>
    </div>


    <div class="card-footer">
        <button class="report-btn">View full report</button>
    </div>
</div>