<div class="vendor-card">
    <div class="card-header">
        <div class="info">
            <div class="icon"><ng-icon name="heroCube"></ng-icon></div>
            <div class="text">
                <h3>Vendor breakdown</h3>
                <p>Keep track of vendors and their security ratings.</p>
            </div>
        </div>
        <ng-icon name="heroEllipsisVertical" class="options-icon material-icons"></ng-icon>
    </div>
    <div class="chart">
        <highcharts-chart [options]="chartOptions" style="width: 100%;display: block;"></highcharts-chart>
    </div>


    <div class="card-footer">
        <button class="report-btn">View full report</button>
    </div>
</div>