<div class="vendor-card">
    <div class="header">
        <div>
            <h4>Vendors monitored</h4>
            <p>You’re using 80% of available spots.</p>
        </div>

    </div>

    <div class="chart">

        <div class="mainChart">
            <div class="gauge">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                    [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels" [fill]="chartOptions.fill">
                </apx-chart>
            </div>
            <div class="percentage">
                <ng-icon name="mynaTrendingUp"></ng-icon>
                <span class="trend-up"> 10%</span>
            </div>


        </div>

        <div class="warning">
            <strong>You’ve almost reached your limit</strong>
            <p>You have used 80% of your available spots.<br>Upgrade plan to monitor more vendors.</p>
        </div>
    </div>




    <div class="footer">
        <button class="upgrade-btn">
            <ng-icon name="heroBolt"></ng-icon>
            Upgrade plan
        </button>
    </div>
</div>