<div class="team-table-card">
    <div *ngIf="loading" class="spinner">Loading...</div>

    <div *ngIf="!loading">
        <div class="card-header">
            <h3>Team members <span class="badge">{{rows.length}} users</span></h3>
            <span class="material-icons menu-icon">more_vert</span>
        </div>
        <table>
            <thead>
                <tr>
                    <th>
                        <label class="custom-checkbox">
                            <input type="checkbox" [checked]="selectAllChecked" (change)="toggleSelectAll()" />
                            <span></span>
                        </label>
                    </th>
                    <th *ngFor="let col of columns" [style.text-align]="col.align" (click)="sortBy(col.column_key)"
                        class="sortable-header">
                        <div class="role-header">
                            {{ col.column_name }}
                            <ng-icon class="role-icon" name="heroQuestionMarkCircle"
                                *ngIf="col.column_key == 'role' "></ng-icon>
                        </div>


                        <ng-icon class="icons sort-icon" *ngIf="sortColumn === col.column_key"
                            [name]="sortDirection === 'asc' ? 'heroArrowUp' : 'heroArrowDown'"></ng-icon>

                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr class="table-row" *ngFor="let row of rows" [ngClass]="{'selected': isChecked(row.id)}">
                    <td>
                        <label class="custom-checkbox">
                            <input type="checkbox" [checked]="isChecked(row.id)"
                                (change)="toggleRowSelection(row.id)" />
                            <span></span>
                        </label>
                    </td>

                    <td *ngFor="let col of columns" [style.text-align]="col.align">
                        <ng-container [ngSwitch]="col.type">
                            <!-- Name block -->
                            <ng-container *ngSwitchCase="'name'">
                                <div class="user-cell">
                                    <div class="avatar">
                                        {{ row[col.column_key]?.first_name[0] }}{{ row[col.column_key]?.last_name[0] }}
                                    </div>
                                    <div>
                                        <div class="full-name">
                                            {{ row[col.column_key]?.first_name }} {{ row[col.column_key]?.last_name }}
                                        </div>
                                        <div class="handle">{{ row[col.column_key]?.handle }}</div>
                                    </div>
                                </div>
                            </ng-container>

                            <!-- Status badge -->
                            <ng-container *ngSwitchCase="'status'">
                                <span class="status-badge" [ngClass]="row[col.column_key]?.toLowerCase()">
                                    {{ row[col.column_key] }}
                                </span>
                            </ng-container>

                            <!-- Progress bar -->
                            <ng-container *ngSwitchCase="'progress'">
                                <div class="progress">
                                    <div class="progress-bar-container">
                                        <div class="progress-bar-fill" [style.width.%]="row[col.column_key]"></div>
                                    </div>
                                    <span class="license-label">{{ row[col.column_key] }}%</span>
                                </div>

                            </ng-container>

                            <!-- Tags -->
                            <ng-container *ngSwitchCase="'tags'">
                                <ng-container *ngFor="let tag of row[col.column_key]">
                                    <span class="team-pill" [style.color]="tag.text_color"
                                        [style.borderColor]="tag.text_color"
                                        [style.backgroundColor]="tag.background_color">
                                        {{ tag.value }}
                                    </span>
                                </ng-container>
                            </ng-container>

                            <!-- Default text -->
                            <ng-container *ngSwitchDefault>
                                <div class="default-text">{{ row[col.column_key] }}</div>
                            </ng-container>
                        </ng-container>
                    </td>

                    <!-- Actions -->
                    <td class="action-buttons">
                        <button class="icon-btn" (click)="onDelete(row)">
                            <ng-icon class="icons" name="heroTrash"></ng-icon>
                        </button>
                        <button class="icon-btn" (click)="onShowName(row)">
                            <ng-icon class="icons" name="heroPencil"></ng-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <button class="button-prev-next"><ng-icon class="icons" name="heroArrowLeft"></ng-icon> Previous</button>
            <div class="buttons">
                <button class="active">1</button>
                <button class="pagination-buttons" *ngFor="let i of [2,3,'...', 8,9,10]">{{ i }}</button>
            </div>

            <button class="button-prev-next">Next <ng-icon class="icons" name="heroArrowRight"></ng-icon></button>
        </div>
    </div>
</div>